{% extends 'index.html' %}

{% block content %}
    {% if blogs %}
        <table style="text-align: center;">
            <thead>
            <tr>
                <th scope="col" style="width: 10%;">글 번호</th>
                <th scope="col" style="width: 20%;">날짜</th>
                <th scope="col" style="width: 20%;">제목</th>
                <th scope="col" style="width: 50%;">내용</th>
            </tr>
            </thead>
            <tbody>
            {% for blog in blogs %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ blog.pub_date }}</td>
                    <td><a href="{% url 'blog:detail' blog.id %}">{{ blog.title | truncatechars:10 }}</a></td>
                    <td>{{ blog.body | truncatechars:30 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <a class="btn btn-secondary" href="{% url 'blog:post_new'%}" role="button">게시글 작성</a>
{% endblock %}