{% extends 'index.html' %}

{% block content %}
      <!-- Example split danger button -->
      <div class="btn-group">
            <button type="button" class="btn btn-warning">해시태그 검색</button>
            <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              {% for hashtag in hashtags.all %}
              <a class="dropdown-item" href="{% url 'blog:search' hashtag.id %}">{{ hashtag.name }}</a>
              {% endfor %}
            </div>
          </div>
    {% if blogs %}
        <table style="text-align: center;">
            <thead>
            <tr>
                {% for media in blog.medias.all %}
                    {% if medias.image %}
                        <img src="{{ medias.image.url }}" alt="image cap">
                    {% endif %}
                {% endfor %}
                <th scope="col" style="width: 10%;">글 번호</th>
                <th scope="col" style="width: 20%;">날짜</th>
                <th scope="col" style="width: 20%;">제목</th>
                <th scope="col" style="width: 50%;">내용</th>
            </tr>
            </thead>
            <tbody>
            {% for blog in blogs %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ blog.pub_date }}</td>
                    <td><a href="{% url 'blog:detail' blog.id %}">{{ blog.title | truncatechars:10 }}</a></td>
                    <td>{{ blog.body | truncatechars:30 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <a class="btn btn-secondary" href="{% url 'blog:post_new'%}" role="button">게시글 작성</a>
    <a class="btn btn-secondary" href="{% url 'blog:hashtag'%}" role="button">해시태그 추가</a>
{% endblock %}